.features  {

  @include tablets  {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: rem(46px);

    &:last-child  {
      margin-right: rem(0px);
    }
  }
}